@import '../../../styles/colors.scss';
@import '../../../styles/functions.scss';
@import '../../../styles/fonts.scss';

.futureBookingsSection {
  padding: defaultSpacingTimes(8) 0;
  width: 100%;
  height: defaultSpacingTimes(52.5);
  background-size: cover;
}

.contentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.lineOne {
  text-transform: uppercase;
  font-size: 1.125rem;
}

.lineTwo {
  font-size: 1.5rem;
  font-weight: 300;
}

.lineThree {
  font-size: 6rem;
}