@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/functions';

.navbarLink {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $primary-font-family;
  transition: 0.1s ease-in-out color;
  padding: defaultSpacingTimes(0.5);

  &:hover, &:focus {
    border-bottom: 1px solid;
    border-image: $primary-gradient-color 1 stretch;
  }
}