@import '../../styles/colors';
@import '../../styles/fonts';

.navbarLink {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $primary-font-family;
  transition: 0.1s ease-in-out color;
  padding: 5px;

  &:hover, &:focus {
    color: $navbar-link-color;
  }
}