@import '../../styles/colors.scss';
@import '../../styles/functions.scss';
@import '../../styles/fonts.scss';

.menuWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: 0.2s ease-in-out;
}

.lightBackgroundMenuWrapper { 
  background-color: $background-dark;
  border-bottom: 1px solid $neutral-700;

  hr {
    border: none;
    height: defaultSpacingTimes(.125);
    width: 25%;
    margin: 0 auto;
    background-color: $neutral-700;
  }
}

.darkBackgroundMenuWrapper { 
  background-color: $background-light;
  border-bottom: 1px solid $neutral-100;

  hr {
    border: none;
    height: defaultSpacingTimes(.125);
    width: 25%;
    margin: 0 auto;
    background-color: $neutral-100;
  }
}

.openedMenuWrapper {
  max-height: 900px; 
  padding: defaultSpacingTimes(10) defaultSpacingTimes(2) defaultSpacingTimes(6);
}

.menuTriggerButton {
  height: auto;
  margin-left: auto;

  &::after, ::before {
    content: none;
  }

  div {
    padding: 0;
  }
}

.lightMenuTriggerIcon {
  color: $background-light;
}

.darkMenuTriggerIcon {
  color: $background-dark;
}

.menuTriggerIcon {
  padding: defaultSpacingTimes(1.5);
  box-sizing: content-box;
  font-size: 1.5rem;
}

.list {
  margin-left: defaultSpacingTimes(0.5);
  list-style-type: none;
}

.menuItem {
  margin: defaultSpacingTimes(4) 0;
  text-align: center;
}

.darkNavbarLinkText {
  color: $neutral-600; 
  transition: all .3s ease-out;

  &:hover, &:focus {
    color: $neutral-800;
  }
}

.lightNavbarLinkText {
  color: $neutral-300; 
  transition: all .3s ease-out;

  &:hover, &:focus {
    color: $neutral-100;
  }
}

.contactNumberLinkWrapper {
  display: flex;
  justify-content: center;
}

.contactNumberLink {
  text-align: center;
  padding-top: defaultSpacingTimes(6);
  text-decoration: none;
  font-family: $primary-font-family;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}