@import '../../styles/colors.scss';
@import '../../styles/functions.scss';
@import '../../styles/fonts.scss';

.menuWrapper {
  position: absolute;
  top: 0;
  left: 60px;
  right: 60px;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: 0.2s ease-in-out;
  z-index: 100;
}

.lightBackgroundMenuWrapper { 
  background-color: $primary-color;
}

.darkBackgroundMenuWrapper { 
  background-color: $primary-contrast-color;
}

.openedMenuWrapper {
  max-height: 900px; 
  padding: defaultSpacingTimes(12) defaultSpacingTimes(1) defaultSpacingTimes(10);
}

.menuTriggerButton {
  border: 1px solid transparent;
  margin-left: auto;
  background-image: unset;

  &:hover {
    background-image: unset;
  }
}

.lightMenuTriggerButton:hover {
  border: 1px solid $primary-contrast-color;
}

.darkMenuTriggerButton:hover {
  border: 1px solid $light-text-color;
}

.lightMenuTriggerIcon {
  color: $primary-contrast-color;
}

.darkMenuTriggerIcon {
  color: $light-text-color;
}

.menuTriggerIcon {
  font-size: 2rem;
}

.list {
  margin-left: defaultSpacingTimes(0.5);
  list-style-type: none;
}

.menuItem {
  margin: defaultSpacingTimes(8) 0;
  font-size: 1.5rem;
}

.darkNavbarLinkText {
  color: $light-text-color; 
}

.lightNavbarLinkText {
  color: $light-color; 
}

.contactNumberLinkWrapper {
  display: flex;
  justify-content: center;
}

.contactNumberLink {
  text-decoration: none;
  font-family: $primary-font-family;
  font-weight: 300;
  font-size: 1.5rem;
}