@import '../../../styles/colors.scss';
@import '../../../styles/functions.scss';
@import '../../../styles/variables.scss';

$description-font-size: 1.5rem;
$section-instruction-font-size: 1rem;

.offerSection {
  padding-top: defaultSpacingTimes(12);
  padding-bottom: defaultSpacingTimes(12);
  background-color: $background-dark;

  @media (max-width: $medium-screen-breakpoint) {
    padding-top: defaultSpacingTimes(8);
    padding-bottom: defaultSpacingTimes(8);
  }
}

.topSection {
  display: flex;
  align-items: flex-start;
  padding-bottom: defaultSpacingTimes(7); 
}

.sectionHeader, .descriptionSection {
  flex: 1;
}

.sectionHeader {
  color: $neutral-50;
}

.contentWrapper {
  width: 100%;
}

.sectionInstruction {
  text-align: center;
  // TODO use color from const
  color: $neutral-300;
  font-weight: 300;
  padding: defaultSpacingTimes(3) 0;
  font-size: $section-instruction-font-size;
}

.description {
  font-size: 1.5rem;
  // TODO use color from const
  color: $neutral-300;
  font-weight: 300;

  &:nth-of-type(1) {
    margin-bottom: defaultSpacingTimes(2);
  }

  &:nth-of-type(2) {
    padding: defaultSpacingTimes(1.375) 0;
  }
}

@media (max-width: $small-screen-breakpoint) {
  .topSection {
    flex-direction: column;
  }

  .description {
    font-size: calc($description-font-size * $small-screen-font-multiplier);
  }

  .sectionInstruction {
    font-size: calc($section-instruction-font-size * 0.85);
  }
}