@import '../../../styles/colors.scss';
@import '../../../styles/functions.scss';
@import '../../../styles/variables.scss';

$description-font-size: 1.5rem;
$section-instruction-font-size: 1rem;

.offerSection {
  padding: defaultSpacingTimes(4) 0;
  background-color: $primary-color;
}

.topSection {
  display: flex;
  align-items: flex-start;
  padding-bottom: defaultSpacingTimes(7); 
}

.sectionHeader, .descriptionSection {
  flex: 1;
}

.contentWrapper {
  width: 100%;
}

.sectionInstruction {
  text-align: center;
  // TODO use color from const
  color: #c8c8c8;
  font-weight: 300;
  padding: defaultSpacingTimes(3) 0;
  font-size: $section-instruction-font-size;
}

.description {
  font-size: 1.5rem;
  // TODO use color from const
  color: #eeeeee;
  font-weight: 300;
  line-height: 1.875rem;

  &:nth-of-type(1) {
    padding-bottom: defaultSpacingTimes(1.5);
  }

  &:nth-of-type(2) {
    padding: defaultSpacingTimes(1.375) 0;
  }
}

@media (max-width: $small-screen-breakpoint) {
  .topSection {
    flex-direction: column;
  }

  .description {
    font-size: calc($description-font-size * $small-screen-font-multiplier);
    max-width: 75%;
  }

  .sectionInstruction {
    font-size: calc($section-instruction-font-size * 0.85);
  }
}