@import '../../../styles/colors.scss';
@import '../../../styles/functions.scss';
@import '../../../styles/fonts.scss';

.offerSection {
  padding: defaultSpacingTimes(4) 0;
  background-color: $primary-color;
}

.topSection {
  display: flex;
  align-items: flex-start;
  padding-bottom: defaultSpacingTimes(7); 
}

.sectionHeader, .descriptionSection {
  flex: 1;
}

.contentWrapper {
  width: 100%;
}

.sectionInstruction {
  text-align: center;
  color: #c8c8c8;
  font-weight: 300;
  padding: defaultSpacingTimes(3) 0;
  font-size: 1rem;
}

.description {
  font-size: 1.5rem;
  color: #eeeeee;
  font-weight: 300;
  line-height: 1.875rem;

  &:nth-of-type(1) {
    padding-bottom: defaultSpacingTimes(1.5);
  }

  &:nth-of-type(2) {
    padding: defaultSpacingTimes(1.375) 0;
  }
}

.galleryWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: defaultSpacingTimes(2.5);
}

.offerImage {
  height: defaultSpacingTimes(42);
  width: 100%;
  object-fit: cover;
}