@import '../../styles/functions.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

$default-button-size: defaultSpacingTimes(7);
$medium-screen-button-size: defaultSpacingTimes(6);

.buttonElement {
  height: $default-button-size;
  text-decoration: none;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: defaultSpacingTimes(2) defaultSpacingTimes(2);
  font-size: 1rem;
  font-family: $primary-font-family;
  text-transform: uppercase;
  cursor: pointer;
}

.circleButton {
  width: $default-button-size;
  height: $default-button-size;
}

.primaryButton, .outlinedContrastButton {
  border: 1px solid $primary-contrast-color;
  color: $primary-contrast-color;
}

.secondaryButton, .outlinedButton {
  border: 1px solid $primary-color;
  color: $primary-color;
}

.outlinedButton, .outlinedContrastbutton {
  background-color: transparent;
}

.primaryButton {
  background-color: $primary-color;
}

.secondaryButton {
  background-color: $primary-contrast-color;
}

.buttonImage {
  width: 1.5rem;
}

.disabledBorder {
  border: none;
}

@media (max-width: $medium-screen-breakpoint) {
  .buttonElement {
    height: $medium-screen-button-size;
  }

  .circleButton {
    width: $medium-screen-button-size;
    height: $medium-screen-button-size;
  }
}

