@import '../../styles/functions.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

$button-size: defaultSpacingTimes(7);

.buttonElement {
  height: $button-size;
  text-decoration: none;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: defaultSpacingTimes(2) defaultSpacingTimes(2);
  font-size: 1rem;
  font-family: $primary-font-family;
  text-transform: uppercase;
  cursor: pointer;
}

.circleButton {
  width: $button-size;
  height: $button-size;
}

.primaryButton, .outlinedContrastButton {
  border: 1px solid $primary-contrast-color;
  color: $primary-contrast-color;
}

.secondaryButton, .outlinedButton {
  border: 1px solid $primary-color;
  color: $primary-color;
}

.outlinedButton, .outlinedContrastbutton {
  background-color: transparent;
}

.primaryButton {
  background-color: $primary-color;
}

.secondaryButton {
  background-color: $primary-contrast-color;
}

.buttonImage {
  width: 1rem;
  margin-right: defaultSpacingTimes(1);
}

