@import '../../styles/functions.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

$default-button-size: defaultSpacingTimes(7);
$medium-screen-button-size: defaultSpacingTimes(6);

.buttonElement {
  height: $default-button-size;
  text-decoration: none;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: $primary-font-family;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;

  &:hover {
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 1px solid transparent;
  }
}

.circleButton {
  width: $default-button-size;
  height: $default-button-size;
}

.contentWrapper {
  padding: defaultSpacingTimes(2) defaultSpacingTimes(2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.primaryButton, .outlinedContrastButton {
  background-image: linear-gradient($primary-color, $primary-color), linear-gradient(rgba($primary-contrast-color, 0.3), rgba($primary-contrast-color, 0.3));
  color: $primary-contrast-color;

  &:hover {
    background-image: linear-gradient($primary-color, $primary-color), $primary-gradient-color;
  }
}

.secondaryButton, .outlinedButton {
  background-image: linear-gradient($primary-contrast-color, $primary-contrast-color), linear-gradient(rgba($primary-color, 0.3), rgba($primary-color, 0.3));
  color: $primary-color;

  &:hover {
    background-image: linear-gradient($primary-contrast-color, $primary-contrast-color), $primary-gradient-color;
  }
}

.outlinedButton, .outlinedContrastbutton {
  background-color: transparent;
}

.primaryButton {
  background-color: $primary-color;
}

.secondaryButton {
  background-color: $primary-contrast-color;
}

.buttonImage {
  width: 1.5rem;
}

.disabledBorder {
  border: none;
}

@media (max-width: $medium-screen-breakpoint) {
  .buttonElement {
    height: $medium-screen-button-size;
  }

  .circleButton {
    width: $medium-screen-button-size;
    height: $medium-screen-button-size;
  }
}

