@import '../../styles/functions.scss';

$content-max-width: 1102px;

.wrapper {
  height: 100%;
  display: block;
  padding-left: defaultSpacingTimes(4);
  padding-right: defaultSpacingTimes(4);

  @media (max-width: $small-screen-breakpoint) {
    padding-left: defaultSpacingTimes(2);
    padding-right: defaultSpacingTimes(2);
  }
}

.contentWrapper {
  max-width: $content-max-width;
  width: 100%;
  margin: auto;
  height: 100%;
}