@import '../styles/functions';

.offerImageWrapper {
  width: 100%;
  height: 90vh;
  min-height: 300px;
  background-size: cover;
  background-position: center;

  @media (max-width: $medium-screen-breakpoint) {
    height: 65vh;
  }
}

.offerItemsWrapper {
  padding-top: defaultSpacingTimes(4);
}

.breadcrumbElement {
  position: absolute;
  left: 0;
  top: defaultSpacingTimes(14);
}