@import '../styles/functions';

.offerImageWrapper {
  width: 100%;
  height: 65vh;
  min-height: 300px;
  background-size: cover;
  background-position: center;
}

.offerItemsWrapper {
  padding-top: defaultSpacingTimes(4);
}

.breadcrumbElement {
  position: absolute;
  left: 0;
  top: defaultSpacingTimes(14);
}