@import '../styles/functions';

.offerImageWrapper {
  width: 100%;
  height: 50vh;
  min-height: 300px;
  background-size: cover;
  background-position: center;
}

.offerItemsWrapper {
  padding: defaultSpacingTimes(4) 0;
}