@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/functions.scss';

.menuItemsList {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.menuItem {
  margin: 0 defaultSpacingTimes(2);
  font-size: 1rem;
}

.navbarLinkText {
  color: $navbar-text-color; 
}

.contactNumberLink {
  color: $light-font-color;
  text-decoration: none;
  font-family: $primary-font-family;
  font-weight: 300;
}