@import '../../styles/variables';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/functions';
@import '../../styles/mixins';

.menuItemsList {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.menuItem {
  margin: 0 defaultSpacingTimes(2);
  font-size: 1rem;
}

.navbarLinkText {
  color: $navbar-text-color; 
}

.contactNumberLink {
  color: $light-color;
  text-decoration: none;
  font-family: $primary-font-family;
  font-weight: 300;
  border-bottom: 1px solid transparent;

  &:hover, &:focus {
    @include hoverUnderline;
  }
}