@import '../../../styles/colors.scss';
@import '../../../styles/functions.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

$top-image-z-index: 1;
$content-wrapper-height: 900px;
$details-redirection-button-size: defaultSpacingTimes(36);
$default-middle-image-width: defaultSpacingTimes(73);
$default-middle-image-height: defaultSpacingTimes(85.5);
$default-secondary-image-size: defaultSpacingTimes(47.375);
$medium-size-multiplier: 0.85;
$small-size-multiplier: 0.625;

.portfolioSection {
  padding: defaultSpacingTimes(4) 0;
  background-color: $primary-color;
}

.contentWrapper {
  position: relative;
  height: $content-wrapper-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topImage, .bottomImage {
  object-fit: cover;
  position: absolute;
  width: $default-secondary-image-size;
  height: $default-secondary-image-size;
}

.topImage {
  right: 0;
  top: 0;
  z-index: $top-image-z-index;
}

.bottomImage {
  left: 0;
  bottom: 0;
  z-index: calc($top-image-z-index + 2);
}

.middleImage {
  width: $default-middle-image-width;
  height: $default-middle-image-height;
  object-fit: cover;
  z-index: calc($top-image-z-index + 1);
}

.detailsButtonWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: $details-redirection-button-size;
  height: $details-redirection-button-size;
  border-radius: calc($details-redirection-button-size / 2);
  border: 1px solid $primary-contrast-color;
  background: $primary-color;
  z-index: calc($top-image-z-index + 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: $medium-screen-breakpoint) and (min-width: $small-screen-breakpoint) {
  .contentWrapper {
    height: calc($content-wrapper-height * $medium-size-multiplier)
  }

  .middleImage {
    width: calc($default-middle-image-width * $medium-size-multiplier);
    height: calc($default-middle-image-height * $medium-size-multiplier);
  }

  .topImage, .bottomImage {
    width: calc($default-secondary-image-size * $medium-size-multiplier);
    height: calc($default-secondary-image-size * $medium-size-multiplier);
  }

  .detailsButtonWrapper {
    width: calc($details-redirection-button-size * $medium-size-multiplier);
    height: calc($details-redirection-button-size * $medium-size-multiplier);
  }
}

@media (max-width: $small-screen-breakpoint) and (min-width: $extra-small-screen-breakpoint) {
  .contentWrapper {
    height: calc($content-wrapper-height * $small-size-multiplier)
  }

  .middleImage {
    width: calc($default-middle-image-width * $small-size-multiplier);
    height: calc($default-middle-image-height * $small-size-multiplier);
  }

  .topImage, .bottomImage {
    width: calc($default-secondary-image-size * $small-size-multiplier);
    height: calc($default-secondary-image-size * $small-size-multiplier);
  }

  .detailsButtonWrapper {
    width: calc($details-redirection-button-size * $small-size-multiplier);
    height: calc($details-redirection-button-size * $small-size-multiplier);
  }

  .detailsLink {
    font-size: 0.75rem;
  }
}

@media (max-width: $extra-small-screen-breakpoint) {
  .contentWrapper {
    height: calc($content-wrapper-height * 0.45)
  }

  .middleImage {
    width: calc($default-middle-image-width * 0.4);
    height: calc($default-middle-image-height * 0.4);
  }

  .topImage, .bottomImage {
    width: calc($default-secondary-image-size * 0.4);
    height: calc($default-secondary-image-size * 0.4);
  }

  .detailsButtonWrapper {
    width: calc($details-redirection-button-size * 0.55);
    height: calc($details-redirection-button-size * 0.55);
  }

  .detailsLink {
    font-size: 0.625rem;
  }
}