@import '../../styles/colors';
@import '../../styles/functions';
@import '../../styles/fonts';

.ctaQuestionsSection {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.contentWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.textBlock {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: defaultSpacingTimes(25);
  padding-bottom: defaultSpacingTimes(25);

  // @media (max-width: $small-screen-breakpoint) {
  //   padding-top: defaultSpacingTimes(30);
  // } 
}


.lineOne {
  margin-bottom: defaultSpacingTimes(3);
}


