@import '../../styles/functions.scss';
@import '../../styles/variables.scss';

.actionButton {
  img {
    margin-right: defaultSpacingTimes(1);
  }

  @media (max-width: $medium-screen-breakpoint) {
    font-size: 0.75rem;
  }

  @media (max-width: $extra-small-screen-breakpoint) {
    width: 100%;
  }
}
