@import '../../styles/colors';
@import '../../styles/functions';
@import '../../styles/fonts';
@import '../../styles/variables';

$top-image-z-index: 1;
$content-wrapper-height: 1100px;
$details-redirection-button-size: defaultSpacingTimes(36);
$default-middle-image-width: defaultSpacingTimes(73);
$default-middle-image-height: defaultSpacingTimes(85.5);
$default-secondary-image-size: defaultSpacingTimes(47.375);
$medium-size-multiplier: 0.85;
$small-size-multiplier: 0.625;

.portfolioSection {
  padding-top: defaultSpacingTimes(12);
  padding-bottom: defaultSpacingTimes(12);
  background-color: $background-dark;

  @media (max-width: $medium-screen-breakpoint) {
    padding-top: defaultSpacingTimes(8);
    padding-bottom: defaultSpacingTimes(8);
  }

  @media (max-width: $small-screen-breakpoint) {
    padding-bottom: defaultSpacingTimes(36);
  }
}

.contentWrapper {
  position: relative;
  height: $content-wrapper-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topImage, .bottomImage {
  object-fit: cover;
  position: absolute;
  width: $default-secondary-image-size;
  height: $default-secondary-image-size;
}

.topImage {
  right: 0;
  top: 0;
  z-index: $top-image-z-index;
}

.bottomImage {
  left: 0;
  bottom: 0;
  z-index: calc($top-image-z-index + 2);
}

.middleImage {
  width: $default-middle-image-width;
  height: $default-middle-image-height;
  object-fit: cover;
  z-index: calc($top-image-z-index + 1);
}

.detailsButtonWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: $details-redirection-button-size;
  height: $details-redirection-button-size;
  border-radius: calc($details-redirection-button-size / 2);
  border: 1px solid $neutral-700;
  background: $background-dark;
  z-index: calc($top-image-z-index + 2);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $small-screen-breakpoint) {
    transform: translate(50%, 0);
    right: 50%;
    bottom: defaultSpacingTimes(-32);
  }
}

.lightBackground {
  background-color: $primary-contrast-color;
}

.lightBackgroundBorder {
  border: 1px solid $background-gray;
}

@media (max-width: $medium-screen-breakpoint) and (min-width: $small-screen-breakpoint) {
  .middleImage {
    width: calc($default-middle-image-width * $medium-size-multiplier);
    height: calc($default-middle-image-height * $medium-size-multiplier);
  }

  .topImage, .bottomImage {
    width: calc($default-secondary-image-size * $medium-size-multiplier);
    height: calc($default-secondary-image-size * $medium-size-multiplier);
  }
}

@media (max-width: $small-screen-breakpoint) and (min-width: $extra-small-screen-breakpoint) {
  .contentWrapper {
    height: calc($content-wrapper-height / 1.375);
  }

  .middleImage {
    width: calc($default-middle-image-width * $small-size-multiplier);
    height: calc($default-middle-image-height * $small-size-multiplier);
  }

  .topImage, .bottomImage {
    width: calc($default-secondary-image-size * $small-size-multiplier);
    height: calc($default-secondary-image-size * $small-size-multiplier);
  }

  .detailsLink {
    font-size: 0.75rem;
  }
}

@media (max-width: $extra-small-screen-breakpoint) {
  .contentWrapper {
    height: calc($content-wrapper-height / 2.2);
  }

  .middleImage {
    width: calc($default-middle-image-width * 0.4);
    height: calc($default-middle-image-height * 0.4);
  }

  .topImage, .bottomImage {
    width: calc($default-secondary-image-size * 0.4);
    height: calc($default-secondary-image-size * 0.4);
  }

  .detailsLink {
    font-size: 0.625rem;
  }
}