@import '../../../styles/functions';
@import '../../../styles/variables';


.reservationsSection {
    padding-top: defaultSpacingTimes(9);
    padding-bottom: defaultSpacingTimes(9);
    
    @media (max-width: $medium-screen-breakpoint) {
        padding-bottom: defaultSpacingTimes(8);
    }
}

.reservationsList {
    display: flex;
    gap: defaultSpacingTimes(3);
    padding-top: defaultSpacingTimes(2);

    @media (max-width: $medium-screen-breakpoint) {
        flex-direction: column;
        align-items: center;
    }
}

.arrowImg {
    height: defaultSpacingTimes(6);

    @media (max-width: $medium-screen-breakpoint) {
        transform: rotate(90deg);
    }
}





