@import '../../../styles/functions';
@import '../../../styles/variables';


.reservationsSection {
    padding-top: defaultSpacingTimes(9);
    padding-bottom: defaultSpacingTimes(9);
    
    @media (max-width: $medium-screen-breakpoint) {
        padding-bottom: defaultSpacingTimes(8);
    }
}

.reservationsList {
    
}

