@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/functions';
@import '../../styles/colors';

$owner-job-title-font-size: 1.125rem;
$owner-name-font-size: 4rem;

/* .subpageHeadingWrapper {
height: 70vh;
} */

.darkBackground {
  background: $primary-color;
}

.grayBackground {
  background: $background-gray;
}

.lightBackground {
  background: $background-light;
}

.subpageContentHeadingWrapper {
  padding-top: defaultSpacingTimes(36);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: defaultSpacingTimes(16);
  position: relative;

  @media (max-width: $medium-screen-breakpoint) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.titleWrapper, .socialLinksWrapper {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
}

.titleWrapper {
  flex-direction: column;
  justify-content: flex-end;
}

.socialLinksWrapper {
  gap: defaultSpacingTimes(3);
  justify-content: flex-end;

  @media (max-width: $medium-screen-breakpoint) {
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: defaultSpacingTimes(3);
    padding-bottom: 0;
  }

  @media (max-width: $extra-small-screen-breakpoint) {
    width: 100%;
  }
}

.secondaryLightTitle {
  color: $neutral-500;
  padding-bottom: defaultSpacingTimes(1);
}

.primaryLightTitle {
  /* margin-bottom: #{defaultSpacingTimes(2)}; */
}

@media (max-width: $medium-screen-breakpoint) {
  .subpageHeadingWrapper {
    display: flex;
    flex-direction: column;
  }
} 

@media (max-width: $small-screen-breakpoint) {
  .socialLinksWrapper {
    gap: defaultSpacingTimes(1.5);
  }

  .secondaryTitle {
    font-size: calc($owner-job-title-font-size * $small-screen-font-multiplier);
  }
  
  .primaryTitle {
    font-size: calc($owner-name-font-size * $small-screen-font-multiplier);
  }
}