@import '../../../../styles/functions';
@import '../../../../styles/variables';


.cooperationItemWrapper {
    padding-top: defaultSpacingTimes(4);
    padding-bottom: defaultSpacingTimes(12);
    background-color: red;
    
    @media (max-width: $medium-screen-breakpoint) {
        padding-bottom: defaultSpacingTimes(8);
    }
}