@import '../../styles/functions';
@import '../../styles/variables';


.cooperationItemWrapper {
    display: flex;
    align-items: center;
    gap: defaultSpacingTimes(2);

    @media (max-width: $small-screen-breakpoint) {
        flex-direction: column;
        align-items: flex-start;
    }
}


.itemDescriptionText {
    font-weight: 300;
}