@import '../../../styles/functions';

.offerSection {
  padding-top: defaultSpacingTimes(2);
  padding-bottom: defaultSpacingTimes(12);

  @media (max-width: $medium-screen-breakpoint) {
    padding-bottom: defaultSpacingTimes(8);
  }
}

.headingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: defaultSpacingTimes(4);
  text-align: center;
}