@import '../../../styles/functions';

.offerSection {
  padding: defaultSpacingTimes(10) 0;
}

.headingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: defaultSpacingTimes(8);
}