@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/functions.scss';

.navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  max-height: $top-navbar-min-height;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: defaultSpacingTimes(2);
}

.darkBackgroundWrapper {
  background-color: $background-dark;
}

.lightBackgroundWrapper {
  background-color: $background-light;
}

.logoImg {
  height: defaultSpacingTimes(6);
  width: defaultSpacingTimes(6);
  object-fit: contain;
}