$primary-color: #000000;
$primary-contrast-color: #ffffff;
$light-color: #aaaaaa;
$light-text-color: #5b5b5b;

$primary-gradient-color: linear-gradient(109.8deg, #D15B41 0%, #D14145 15.81%, #C629CB 100%);

//WEBSITE COLORS

//color
$gradient-pink: #D14145;
$gradient-purple: #C629CB;
$gradient-orange: #D15B41;

//universal
$universal-white: #FFFFFF;
$universal-black: #010101;

//background
$background-light: #FFFFFF;
$background-gray: #E9E9EB;
$background-dark: #090909;

//neutrals
$neutral-800: #090909;
$neutral-700: #323232;
$neutral-600: #5B5B5B;
$neutral-500: #767676;
$neutral-400: #8F8F8F;
$neutral-300: #ADADAD;
$neutral-200: #C8C8C8;
$neutral-100: #D6D6D6;
$neutral-50: #E4E4E4;
$neutral-40: #EFEFEF;