$primary-color: #000000;
$primary-contrast-color: #ffffff;
$light-color: #aaaaaa;
$light-text-color: #5b5b5b;

$primary-gradient-color: linear-gradient(109.8deg, #D15B41 0%, #D14145 15.81%, #C629CB 100%);