@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

@font-face {
  font-family: 'Noe Display Regular';
  src: url("/fonts/NoeDisplay-Regular.woff") format(woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Noe Display Medium';
  src: url("/fonts/NoeDisplay-Medium.woff") format(woff);
  font-weight: 500;
}

$primary-font-family: 'Rubik', sans-serif;
$secondary-font-family: 'Noe Display Medium', serif;

//HEADING STYLES
.h1-huge {
  font-family: $secondary-font-family;
  font-size: 96px !important;
  line-height: 117%;
  letter-spacing: 0;
}

h1 {
  font-family: $secondary-font-family;
  font-size: 55px !important;
  line-height: 115%;
  letter-spacing: 1%;
}

h2 {
  font-family: $secondary-font-family;
  font-size: 40px !important;
  line-height: 121%;
  letter-spacing: 1%;
}

h3 {
  font-family: $secondary-font-family;
  font-size: 32px !important;
  line-height: 126%;
  letter-spacing: 1%;
}

h4 {
  font-family: $secondary-font-family;
  font-size: 25px !important;
  line-height: 130%;
  letter-spacing: 1.68%;
}

h5 {
  font-family: $secondary-font-family;
  font-size: 20px !important;
  line-height: 122%;
  letter-spacing: 1%;
}

h6 {
  font-family: $secondary-font-family;
  font-size: 16px !important;
  line-height: 150%;
  letter-spacing: 1%;
}


//BODY TEXT STYLES
p {
  line-height: 150% !important;
}

//body text sizes
.body_text_size-xl {
  font-size: 26px;
  line-height: 125%;
}

.body_text_size-lg {
  font-size: 24px;
  line-height: 148%;
}

.body_text_size-md {
  font-size: 18px;
  line-height: 145%;
}

.body_text_size-reg {
  font-size: 16px;
  line-height: 150%;
}

//body text widths
.body_text_width-light {
  font-weight: 300;
}

.body_text_width-regular {
  font-weight: 400;
}

.body_text_width-medium {
  font-weight: 500;
}

.body_text_width-semibold {
  font-weight: 600;
}

.body_text_width-semibold {
  font-weight: 700;
}

//COMPONENT TEXT STYLES

.btn_text-regular {
  font-family: $primary-font-family;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}