@import './fonts.scss';

//HEADING STYLES
h1 {
  font-family: $secondary-font-family;
  font-size: 3.438rem;
  line-height: 115%;
  letter-spacing: 0.01em;
}

h2 {
  font-family: $secondary-font-family;
  font-size: 2.5rem;
  line-height: 121%;
  letter-spacing: 0.01em;
}

h3 {
  font-family: $secondary-font-family;
  font-size: 2rem;
  line-height: 126%;
  letter-spacing: 0.01em;
}

h4 {
  font-family: $secondary-font-family;
  font-size: 1.563rem;
  line-height: 130%;
  letter-spacing: 0.0168em;
}

h5 {
  font-family: $secondary-font-family;
  font-size: 1.25rem;
  line-height: 122%;
  letter-spacing: 0.01em;
}

h6 {
  font-family: $secondary-font-family;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.01em;
}


//BODY TEXT STYLES
p {
  line-height: 150% !important;
}
