$mobile-width-breakpoint: 689px;
$default-section-padding: 100px 60px;
$top-navbar-min-height: 72px;

$default-spacing: 8px;

$medium-screen-breakpoint: 992px;
$small-screen-breakpoint: 768px;
$extra-small-screen-breakpoint: 492px;