@import '../../../styles/colors.scss';
@import '../../../styles/functions.scss';

$owner-job-title-font-size: 1.125rem;
$owner-name-font-size: 4rem;

.introductionSection {
  height: 70vh;
  background: $primary-color;
  padding-bottom: defaultSpacingTimes(15);
  position: relative;
}

.primaryPhotoSection {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.scrollDownButton {
  width: defaultSpacingTimes(10.875);
  height: defaultSpacingTimes(10.875);
  border: 1px solid transparent;
  position: absolute;
  bottom: -#{calc(defaultSpacingTimes(10.875) / 2)};
  background-image: unset;

  &:hover {
    border-width: 1px;
    background-image: linear-gradient($primary-contrast-color, $primary-contrast-color), $primary-gradient-color;
  }
}

.scrollDownButtonIcon {
  height: defaultSpacingTimes(5);
  width: defaultSpacingTimes(5);
}

