@import '../../styles/fonts.scss';
@import '../../styles/colors';
@import '../../styles/functions';
@import '../../styles/variables';

.galleryWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: defaultSpacingTimes(1.5);
}

.offerImage {
  height: defaultSpacingTimes(43);
  width: 100%;
  object-fit: cover;
  scale: 1.03;
  transition: .2s scale;
}

.offerLink {
  position: relative;
  z-index: 0;
  flex: auto;
  width: 30%;

  p {
    //link imitation
    height: 0;
    opacity: 0;
    font-family: $primary-font-family;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    color: $universal-black;
    margin-top: defaultSpacingTimes(0);
    margin-bottom: defaultSpacingTimes(0);
    transition: all .3s ease-out;
  }
  
  &::after {
    //border outline
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background-image: $primary-gradient-color;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: all .2s ease-out;
  }

  &:hover {
    .offerImage {
      scale: 1.05;
      filter: grayscale(0);
    }

    p {
      height: 1.5rem;
      opacity: 1;
      margin-top: defaultSpacingTimes(1.5);
      margin-bottom: defaultSpacingTimes(1);
      background: $primary-gradient-color;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all .15s ease-in;
    }

    &::after {
      transform: translate(-50%, -50%) scale(1.016);
      opacity: 1;
      transition: all .15s ease-in;
    }
  }
}

.desktopLastItem {
  width: 100%;
}

.desktopTwoLastItems {
  width: 45%
}

@media (min-width: $extra-small-screen-breakpoint) and (max-width: $small-screen-breakpoint) {
  .offerLink {
    width: 45%;
  }
}

@media (max-width: $small-screen-breakpoint) {
  .tabletLastItem {
    width: 100%;
  }
}

@media (max-width: $extra-small-screen-breakpoint) {
  .offerLink {
    width: 100%;
  }
}