@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.typography {
  margin: 0;
}

.primaryColor {
  color: $primary-color;
}
.primaryContrastColor {
  color: $primary-contrast-color
}

.lightColor {
  color: $light-font-color;
}

.primaryFontFamily {
  font-family: $primary-font-family;
}

.secondaryFontFamily {
  font-family: $secondary-font-family;
}