@import '../../styles/functions.scss';
@import '../../styles/colors.scss';

.redirectionLink {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.redirectionLinkText {
  background: $primary-gradient-color;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}