@import '../../styles/colors.scss';

.sectionHeader {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}

.sectionHeaderText {

  &:after {
    content: '/';
    padding: 0 0.875rem;
    font-weight: 100;
    color: $neutral-100;
  }
}

.icon {
  height: 1.5rem;
}