@import '../../../styles/functions';
@import '../../../styles/variables';


.cooperationSection {
    padding-top: defaultSpacingTimes(9);
    padding-bottom: defaultSpacingTimes(9);
    
    @media (max-width: $medium-screen-breakpoint) {
        padding-top: defaultSpacingTimes(6);
        padding-bottom: defaultSpacingTimes(6);
    }
}

.cooperationList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: defaultSpacingTimes(3);
    grid-row-gap: defaultSpacingTimes(6);
    padding-top: defaultSpacingTimes(2);

    @media (max-width: $medium-screen-breakpoint) {
        grid-template-columns: 1fr;
        grid-row-gap: defaultSpacingTimes(4);
    }
}