@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.link {
  position: relative;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 0.125rem;

  &::after {
    //shadow below link label
    content: "";
    position: absolute;
    left: 50%;
    bottom: defaultSpacingTimes(-2);
    transform: translateX(-50%);
    z-index: 0;
    width: 120%;
    height: 55%;
    background: linear-gradient(rgba($universal-black, 0), rgba($universal-black, 0.93));
    filter: blur(defaultSpacingTimes(2));
  }
}

.image {
  filter: grayscale(100%);
}

.infoSlider {
  //container wrapping link label and sublabel
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: defaultSpacingTimes(2);
  width: 100%;
  transform: translateX(-50%);
}

.linkLabel {
  text-align: center;
  color: $universal-white;

  padding-left: defaultSpacingTimes(2);
  padding-right: defaultSpacingTimes(2);
}