@import '../../styles/functions';
@import '../../styles/variables';


.faqItemWrapper {
 
}

.itemHeading {
    font-size: 1.125rem;
    line-height: 145%;
    font-weight: 600;
    margin-bottom: defaultSpacingTimes(1);
}

.itemDescription {
    font-weight: 300;
}

.accordionButton {
    
}
