@import '../../styles/functions';
@import '../../styles/variables';


.reservationsItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.itemDescription {
    font-weight: 300;
}