@import '../../../styles/colors.scss';
@import '../../../styles/functions.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

.reviewsSection {
  padding-top: defaultSpacingTimes(12);
  padding-bottom: defaultSpacingTimes(12);
  background-color: $background-dark;

  @media (max-width: $medium-screen-breakpoint) {
    padding-top: defaultSpacingTimes(8);
    padding-bottom: defaultSpacingTimes(8);
  }
}

.contentWrapper {
  width: 100%;
  padding-top: defaultSpacingTimes(5);
  display: flex;
  flex-direction: column;
}

.reviewItem {
  display: flex;
  padding-bottom: defaultSpacingTimes(5);

  &:not(:last-of-type) {
    border-bottom: 1px solid $neutral-700;
  }

  &:not(:first-of-type) {
    padding-top: defaultSpacingTimes(5);
  }
}

.authorSection {
  display: flex;
  align-items: flex-start;
  flex: 3;
  margin-right: defaultSpacingTimes(3);

  @media (max-width: $small-screen-breakpoint) {
    margin-bottom: defaultSpacingTimes(2);
    margin-right: 0;
  }
}

.authorSectionContent {
  display: flex;
  align-items: center;
  color: $neutral-400;

  @media (max-width: $small-screen-breakpoint) {
    display: block;
  }
}

.authorPhoto {
  width: defaultSpacingTimes(6);
  height: defaultSpacingTimes(6);
  border-radius: defaultSpacingTimes(6);
  object-fit: cover;
  margin-right: defaultSpacingTimes(2.5);

  @media (max-width: $small-screen-breakpoint) {
    margin-bottom: defaultSpacingTimes(1);
  }
}

.contentSection {
  flex: 5;
  font-size: 1.125rem;
  line-height: 145%;
  font-weight: 100;
  color: $neutral-200;

  @media (max-width: $small-screen-breakpoint) {
    font-size: 1rem;
    line-height: 150%;
  }
}

.detailsLink {
  margin: auto;
  margin-top: defaultSpacingTimes(1.5);
}

@media (max-width: $small-screen-breakpoint) {
  .reviewItem {
    display: flex;
    flex-direction: column;
  }
}